<h1>Which cat is cuter?</h1>
<p>You be the judge.</p>
<br/>
<br/>
<table>
  <tr>
    <td><h1><%= link_to "This Cat", cat_yes_path(@cat2.id, @cat1.id)%></h1>
    </td>
    <td><h1><%= link_to "That Cat", cat_yes_path(@cat1.id, @cat2.id)%></h1>
    </td>
</tr>
  <tr>
  	<td>
    <img height="600" width="600" src=<%= @cat2.picture.url%>>
    </td>
    <td>
    <img height="600" width="600" src=<%= @cat1.picture.url%>>
    </td>
</tr>
</table>
<br/><br/>
<h2>Most Votes</h2><!--<%= @top_cat.picture.url%><br>-->
<img height="600" width="600" src=<%= @top_cat.picture.url%>>


<br/>


<br/>
<h1><%= link_to "NEW CAT", new_cat_path%></h1>
